<%- include('../partials/header') %>



<form action="">
    <div class="form-group">
        <input class ="form-control" placeholder="Title">
        <textarea class="form-control" id="exampleFormControlTextarea1"  rows="20" placeholder="Blog about it"></textarea>
    </div>
    <button type="submit" class="btn btn-secondary btn-lg bg-dark  ">Submit</button>
</form>
      






<%- include('../partials/footer') %>