body {
  padding: 50px;
  font: 14px , Helvetica, Arial, sans-serif;
  background-color: whitesmoke;
}

#logo {
  font-family: 'Black Ops One', cursive;
}

a {
  color: #00B7FF;
}

.author { 
  font-size: 10px;
  text-align: right;

}

.imgBack {
  background-image: url('../images/white-textured-paper_53876-86282.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.imgButton {
  background-image: url(../images/blank-warning-sign-isolated-on-white-background-EN4KR2.jpg);
  background-repeat: none;
  background-size: cover;
  padding: 30px;
}

.imgView {
  background-image: url(../images/guide-to-apocalypse-gear-patrol-lead-full.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  
}

.viewLink {
  padding: 10px;
  color: white;
  background: rgba(0, 0, 0, 0.651);
  border: 2px solid;
  border-radius: 100px;
}

.head {
  font-size: 50px;
  text-align: center;
}

.viewText {
  border: 0.5px solid black;
  padding: 10px;
  border-radius: 20px;
  margin: 1px 300px;

}

.viewHead {
  border-right: 0.5px solid black;
  border-left: 0.5px solid black;
  border-radius: 100px;
  text-align: center;
  padding: -30px 0 0;
  margin: 0 400px;
  
}

.commentWrapper {
  border: 0.5px solid black;
  padding: 10px;
  margin: 1px 40px;
}

.comments  {
border-bottom: 0.5px dotted rgb(87, 74, 74);
text-align: left;
}

.contentWrapper {
  padding: 4px 0 4px; 
}

.timestamps {
  font-size: 8px;
  text-align: right;
  margin: 0;
  color: blue;
}

.commentWrapper {
  margin: 10px 0 -5px;
  
  padding: 5px;
}