body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.author { 
  font-size: 10px;

}

#head {
  font-size: 10px;
}

.container {
  border: 0.5px solid black;
  text-align: center;
}

.comments  {
border-bottom: 0.5px dotted lightgray;
text-align: left;
}
